$RECYCLE.BIN/
*.DS_Store
*.a
*.app
*.bak
*.cab
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
*.ko
*.la
*.lai
*.lib
*.lnk
*.lo
*.mod
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.pch
*.slo
*.so
*.so.*
*.stTheme.cache
*.su
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
*.x86_64
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.fseventsd
.fuse_hidden*
.netrwhist
.vagrant/
Desktop.ini
Icon
Network Trash Folder
Session.vim
Temporary Items
Thumbs.db
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
build/
ehthumbs.db
sftp-config.json
tags
